/* DEBUG */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* generics*/
h1{
    font-family: 'Edu Tas Beginner', sans-serif;
    font-weight: 700;
}
p{
    font-family: 'Sometype Mono' , 'monospace';
    font-weight: 400;
    font-size: 1.5rem;
    margin-top: 20px;
    
}

/* HEADER */
header{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    background-color: burlywood;
    background-image: url(../img/wall.png);
    
}

/* MAIN SECTION */

main{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: aquamarine;   
    background-image: url(../img/cork.png);
    gap: 20px;
    flex-wrap: wrap;
    padding: 2% 0 ;
}

.card{
    margin: 30px 0 ;
    width: 25%;
    background-color:#fff;
    padding: 20px;
    position: relative;
  
}


.img-container img {
    width: 100%;
}

.pin{
    position: absolute;
    top: -15px;             
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    width: 40px;             
}



/*OVERLAY*/
.overlay-container{
    position: fixed;
    z-index: 1000;
    top: 0;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.767);
    text-align: center;
    display: none;
}

#img-prov{
    background-color: green;
    height: 500px;
    width: 500px;
    margin: 20px auto;

}

#btn-close{
   font-size: 1.5rem;
   padding: 10px;
   margin: 15px;
}


/* TABLET: larghezza max vpx */
@media (max-width: 1024px) {
    .card {
        width: 35%;       
      
    }
}


/*  MOBILE: larghezza max 600px */
@media (max-width: 600px) {
    .card {
        width: 60%;     
    }
}